


  
    <div class="bg-white border-2 border-red-500 rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg md:max-w-2xl">
    <% @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li class="text-white"><%= msg %></li>
    <% end %>
  </ul>
      <div class="mb-4">
        <h1 class="text-red-500">Todo List</h1>
        <%= form_with model: @task do |form| %>
        <div class="flex-col mt-4">
        <%= form.text_field :description, placeholder:"Add Todo", class:"border-2 border-red-500 focus:border-blue-900 rounded w-full py-2 px-3 mr-4 text-black" %>
        <%= form.label 'Due date (FORMAT: YYYY-MM-DD)', class: "text-red-500" %>
        <%= form.text_field :date, class:"border-2 border-red-500 focus:border-red-900 rounded w-full py-2 px-3 mr-4 text-black" %>
        <%= form.select :category_id, current_user.categories.map {|c| [c.description, c.id]}, class:"border border-gray-800 focus:border-blue-500 rounded w-full py-2 px-3 mr-4 text-black" %>  
          <%= form.submit '+',class: "p-0 w-12 h-10 bg-red-500 rounded-full hover:bg-red-600 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none" %>
    
        </div>
      </div>
      <% end %>
     
    </div>
    
    
