<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <ul>
    <li><%= task.description %>/<%= task.date %><%= link_to 'Edit', edit_task_path(task) %>|<%= link_to 'Delete', task_path(task), method: :delete %></li>
  </ul>
<% end %>

<%= link_to 'Add task', new_task_path %>

<% @categories.each do |category| %>
  <%= link_to category.description, tasks_path(:cate => category.id) %>
<% end %>